@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hub</h1>
    <button type="button" class="btn btn-success" id="btn">Success</button>
</div>

@section Scripts {
<script src=~/js/hub.js></script>
}